body {
  background-color: #aaa;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  background-color: #888;
  align-items: center;
  padding: 10px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  padding: 10px;
  align-items: center;
}

.menu nav ul li {
  list-style: none;
  display: inline;
}

.menu nav ul li a {
  text-decoration: none;
  color: #111;
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover {
  color: #bbb;
  font-style: oblique;
}

.menu {
  display: flex;
  align-items: center;
}

.titulo a h1 {
  color: #111;
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0;
}

h2 {
  color: #444;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0;
}

#logo {
  width: 100px;
  border-radius: 20px;
  margin-right: 10px;
}

/* Aplica estos estilos al archivo style.css */

/* Estilo para reducir el tamaño del carousel */
.carousel-item img {
  width: 80%; /* Ajusta el ancho (ej. 80% del contenedor) */
  height: auto; /* Mantiene la proporción de la imagen */
  max-height: 400px; /* Limita la altura máxima */
  object-fit: cover; /* Ajusta cómo la imagen se adapta dentro del contenedor */
  margin: 0 auto; /* Centra las imágenes */
  border-radius: 30px;
}

/* Opcionalmente, puedes ajustar el contenedor del carousel */
.carousel {
  max-width: 800px; /* Ajusta el ancho máximo del carousel */
  margin-top: 140px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.confian {
  border: #111 solid 2px;
  border-radius: 10px;
  padding: 10px;
  margin: 35px;
  background-color: #ccc;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.confian h3 {
  margin-top: 50px;
  margin-bottom: 40px;
  color: #444;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.confian img {
  width: 100px;
  margin: 10px;
  border-radius: 5px;
}

.ofertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 450px;
  margin: 5px;
  background-color: #ccc;
  border-radius: 10px;
  border: #111 solid 2px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card h4 {
  color: #111;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.card p {
  color: #222;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 10px;
  align-items: end;
}

@media (max-width: 700px) {
  .header {
    flex-direction: column;
    background-color: aqua;
    
  }
  .titulo a h1{
    font-size: 30px;
    
  }

  .carousel{
    margin-top: 155px;
  }
}
